In [1]:
import pandas as pd
import recordlinkage
import pathlib

In [2]:
Data_folder: str = pathlib.Path('C:\BBBrothers\BBB BETTER AND BETTER FILES\Data\merged_file.csv')

In [3]:
record_data = pd.read_csv(Data_folder)

C:\Users\arcoo\AppData\Local\Temp\ipykernel_17236\1740684639.py:1: DtypeWarning: Columns (2,3,4,5,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  record_data = pd.read_csv(Data_folder)

In [4]:
record_data

,ID,firm_id,company_name,condensed_name,main,legal,address_1,address_2,city,state,zip,zip_4,phone,email,url
0,1,2.0,"Able Fence, Inc.",ablefenceinc,True,True,78 Acker St E,NaN,Saint Paul,MN,55117,5507,6512224355,NaN,http://www.albinchapel.com/
1,2,5.0,Albin Chapel,albinchapel,False,False,2200 Nicollet Ave,NaN,Minneapolis,MN,55404,3301,9529149410,office@albinchapel.com,NaN
2,3,5.0,Albin Funeral Chapel Inc,albinfuneralchapelinc,False,False,6855 Rowland Rd,NaN,Eden Prairie,MN,55344,3209,6128711418,jimalbinson@gmail.com,http://www.arthurwilliamsoptical.com/
3,4,5.0,"Albin Endeavor, Inc.",albinendeavorinc,True,True,PO Box 46147,NaN,Eden Prairie,MN,55344,2847,6122700491,NaN,NaN
4,5,7.0,Albrecht Company,albrechtcompany,True,False,2024 Blackberry Ln,NaN,Wayzata,MN,55391,2006,6516334510,mail@albrechtcompany.com,http://www.ablemovers.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309324,327934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7016621044,NaN,NaN
309325,327935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5072084001,NaN,NaN
309326,327936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5072084150,NaN,NaN
309327,327937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6125672270,NaN,NaN
309328,327938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6513610688,NaN,NaN

In [5]:
indexer = recordlinkage.Index()
data_sample = record_data.head(100000)
indexer.block("condensed_name")
canidate_links = indexer.index(data_sample)

In [6]:
print(len(data_sample),  len(canidate_links))

100000 14847

In [7]:
compare_cl = recordlinkage.Compare()
compare_cl.string("condensed_name", "condensed_name",method ="jarowinkler",threshold=0.90, label="condensed_name")
compare_cl.string(
    "company_name", "company_name", method="jarowinkler", threshold=0.90, label="company_name"
)
compare_cl.string("address_1", "address_1", method="jarowinkler", threshold=0.85, label="address_1")
compare_cl.exact("state", "state", label="state")
compare_cl.string(
    "email", "email", method="jarowinkler", threshold=0.85, label="email"
)
compare_cl.string(
    "url", "url", label = "url"
)
features = compare_cl.compute(canidate_links, data_sample)

In [8]:
features.head(10)

             condensed_name  company_name  address_1  state  email       url
29    27                1.0           1.0        0.0      0    0.0  0.484848
8412  33                1.0           1.0        0.0      1    0.0  0.529412
13063 33                1.0           1.0        0.0      1    0.0  0.400000
      8412              1.0           1.0        0.0      1    0.0  0.342857
13332 33                1.0           1.0        0.0      1    0.0  0.533333
      8412              1.0           1.0        0.0      1    0.0  0.558824
      13063             1.0           1.0        0.0      1    0.0  0.428571
13426 33                1.0           1.0        0.0      1    0.0  0.406250
      8412              1.0           1.0        0.0      1    0.0  0.441176
      13063             1.0           1.0        0.0      1    0.0  0.400000

In [9]:
features.describe()

,condensed_name,company_name,address_1,state,email,url
count,14847.0,14847.000000,14847.000000,14847.000000,14847.000000,14847.000000
mean,1.0,0.971711,0.010777,0.686334,0.001819,0.285389
std,0.0,0.165802,0.103253,0.463998,0.042607,0.243239
min,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,1.000000,0.000000,1.000000,0.000000,0.350000
75%,1.0,1.000000,0.000000,1.000000,0.000000,0.500000
max,1.0,1.000000,1.000000,1.000000,1.000000,0.964286

In [10]:
round(features.sum(axis=1)).value_counts().sort_index(ascending=False)

5.0      33
4.0    2790
3.0    8282
2.0    3652
1.0      90
dtype: int64

In [11]:
matches = features[round(features.sum(axis=1)) > 4]
matches

             condensed_name  company_name  address_1  state  email       url
2670  2669              1.0           0.0        1.0      1    1.0  0.564103
66198 21115             1.0           1.0        1.0      1    0.0  0.555556
44591 43405             1.0           1.0        1.0      1    0.0  0.550000
10113 9404              1.0           1.0        1.0      1    0.0  0.542857
41427 6804              1.0           1.0        1.0      1    0.0  0.592593
71654 41427             1.0           1.0        1.0      1    0.0  0.576923
66037 36212             1.0           1.0        1.0      1    0.0  0.612903
8982  8981              1.0           1.0        1.0      1    0.0  0.629630
12546 8981              1.0           1.0        1.0      1    0.0  0.545455
      8982              1.0           1.0        1.0      1    0.0  0.515152
50598 8981              1.0           1.0        1.0      1    0.0  0.592593
      8982              1.0           1.0        1.0      1    0.0  0.640000
      12546             1.0           1.0        1.0      1    0.0  0.575758
33672 15054             1.0           1.0        1.0      1    0.0  0.620690
93829 60821             1.0           1.0        1.0      1    0.0  0.545455
37721 13018             1.0           1.0        1.0      1    0.0  0.548387
47162 36329             1.0           1.0        1.0      1    0.0  0.520000
32247 9797              1.0           1.0        1.0      1    0.0  0.533333
33666 31788             1.0           1.0        1.0      1    0.0  0.518519
26054 18185             1.0           1.0        1.0      1    0.0  0.531250
34640 18952             1.0           1.0        1.0      1    0.0  0.586207
63346 35255             1.0           1.0        1.0      1    0.0  0.515152
24010 24009             1.0           1.0        0.0      1    1.0  0.548387
24855 24854             1.0           1.0        0.0      1    1.0  0.586207
26427 26426             1.0           1.0        1.0      1    0.0  0.551724
29443 29442             1.0           1.0        1.0      1    0.0  0.566667
29900 29899             1.0           1.0        1.0      1    0.0  0.695652
69163 65242             1.0           1.0        0.0      1    1.0  0.607143
41654 38393             1.0           1.0        1.0      1    0.0  0.548387
41028 41026             1.0           1.0        1.0      1    0.0  0.576923
65400 65399             1.0           1.0        0.0      1    1.0  0.548387
77082 77081             1.0           1.0        1.0      1    0.0  0.531250
98821 98820             1.0           1.0        1.0      1    1.0  0.000000

In [12]:
matches.rename_axis({'ID_1','ID_2'})

             condensed_name  company_name  address_1  state  email       url
ID_2  ID_1
2670  2669              1.0           0.0        1.0      1    1.0  0.564103
66198 21115             1.0           1.0        1.0      1    0.0  0.555556
44591 43405             1.0           1.0        1.0      1    0.0  0.550000
10113 9404              1.0           1.0        1.0      1    0.0  0.542857
41427 6804              1.0           1.0        1.0      1    0.0  0.592593
71654 41427             1.0           1.0        1.0      1    0.0  0.576923
66037 36212             1.0           1.0        1.0      1    0.0  0.612903
8982  8981              1.0           1.0        1.0      1    0.0  0.629630
12546 8981              1.0           1.0        1.0      1    0.0  0.545455
      8982              1.0           1.0        1.0      1    0.0  0.515152
50598 8981              1.0           1.0        1.0      1    0.0  0.592593
      8982              1.0           1.0        1.0      1    0.0  0.640000
      12546             1.0           1.0        1.0      1    0.0  0.575758
33672 15054             1.0           1.0        1.0      1    0.0  0.620690
93829 60821             1.0           1.0        1.0      1    0.0  0.545455
37721 13018             1.0           1.0        1.0      1    0.0  0.548387
47162 36329             1.0           1.0        1.0      1    0.0  0.520000
32247 9797              1.0           1.0        1.0      1    0.0  0.533333
33666 31788             1.0           1.0        1.0      1    0.0  0.518519
26054 18185             1.0           1.0        1.0      1    0.0  0.531250
34640 18952             1.0           1.0        1.0      1    0.0  0.586207
63346 35255             1.0           1.0        1.0      1    0.0  0.515152
24010 24009             1.0           1.0        0.0      1    1.0  0.548387
24855 24854             1.0           1.0        0.0      1    1.0  0.586207
26427 26426             1.0           1.0        1.0      1    0.0  0.551724
29443 29442             1.0           1.0        1.0      1    0.0  0.566667
29900 29899             1.0           1.0        1.0      1    0.0  0.695652
69163 65242             1.0           1.0        0.0      1    1.0  0.607143
41654 38393             1.0           1.0        1.0      1    0.0  0.548387
41028 41026             1.0           1.0        1.0      1    0.0  0.576923
65400 65399             1.0           1.0        0.0      1    1.0  0.548387
77082 77081             1.0           1.0        1.0      1    0.0  0.531250
98821 98820             1.0           1.0        1.0      1    1.0  0.000000

In [13]:
matches = matches.reset_index(names=['ID1','ID2'])

In [14]:
matches

,ID1,ID2,condensed_name,company_name,address_1,state,email,url
0,2670,2669,1.0,0.0,1.0,1,1.0,0.564103
1,66198,21115,1.0,1.0,1.0,1,0.0,0.555556
2,44591,43405,1.0,1.0,1.0,1,0.0,0.550000
3,10113,9404,1.0,1.0,1.0,1,0.0,0.542857
4,41427,6804,1.0,1.0,1.0,1,0.0,0.592593
5,71654,41427,1.0,1.0,1.0,1,0.0,0.576923
6,66037,36212,1.0,1.0,1.0,1,0.0,0.612903
7,8982,8981,1.0,1.0,1.0,1,0.0,0.629630
8,12546,8981,1.0,1.0,1.0,1,0.0,0.545455
9,12546,8982,1.0,1.0,1.0,1,0.0,0.515152
10,50598,8981,1.0,1.0,1.0,1,0.0,0.592593
11,50598,8982,1.0,1.0,1.0,1,0.0,0.640000
12,50598,12546,1.0,1.0,1.0,1,0.0,0.575758
13,33672,15054,1.0,1.0,1.0,1,0.0,0.620690
14,93829,60821,1.0,1.0,1.0,1,0.0,0.545455
15,37721,13018,1.0,1.0,1.0,1,0.0,0.548387
16,47162,36329,1.0,1.0,1.0,1,0.0,0.520000
17,32247,9797,1.0,1.0,1.0,1,0.0,0.533333
18,33666,31788,1.0,1.0,1.0,1,0.0,0.518519
19,26054,18185,1.0,1.0,1.0,1,0.0,0.531250
20,34640,18952,1.0,1.0,1.0,1,0.0,0.586207
21,63346,35255,1.0,1.0,1.0,1,0.0,0.515152
22,24010,24009,1.0,1.0,0.0,1,1.0,0.548387
23,24855,24854,1.0,1.0,0.0,1,1.0,0.586207
24,26427,26426,1.0,1.0,1.0,1,0.0,0.551724
25,29443,29442,1.0,1.0,1.0,1,0.0,0.566667
26,29900,29899,1.0,1.0,1.0,1,0.0,0.695652
27,69163,65242,1.0,1.0,0.0,1,1.0,0.607143
28,41654,38393,1.0,1.0,1.0,1,0.0,0.548387
29,41028,41026,1.0,1.0,1.0,1,0.0,0.576923
30,65400,65399,1.0,1.0,0.0,1,1.0,0.548387
31,77082,77081,1.0,1.0,1.0,1,0.0,0.531250
32,98821,98820,1.0,1.0,1.0,1,1.0,0.000000

In [15]:
def getColumnValues(df, column_name: str) -> list[str]:
    return df[column_name]

In [38]:
column_values = getColumnValues(matches, "ID1")
id1 = [record_data.columns.values.tolist()]
for value in column_values:
    list = record_data[record_data['ID'] == value]
    id1.append(list.values.tolist())

[['ID', 'firm_id', 'company_name', 'condensed_name', 'main', 'legal', 'address_1', 'address_2', 'city', 'state', 'zip', 'zip_4', 'phone', 'email', 'url'], [[2670, 2705.0, 'Movers, Inc.', 'moversinc', True, True, 'PO Box 335', '19300 Linden Dr', 'Rogers', 'MN', '55374', '0335', nan, 'joe@kissalaska.com', 'https://www.millsauto.com']], [[66198, 96088638.0, 'Culligan Water, Inc.', 'culliganwaterinc', False, False, '363 5th Ave N', nan, 'Bayport', 'MN', '55003', 1235.0, '6513876401', 'viptowing2013@gmail.com', 'http://www.habitaware.com/']], [[44591, 96017061.0, 'AmericInn Lodge & Suites', 'americinnlodgeandsuites', True, True, '310 N Lakeshore Dr', nan, 'Lake City', 'MN', '55041', '1553.0', '9528887545', 'deluxmotel@gmail.com', nan]], [[10113, 8006385.0, 'BDS Laundry Systems', 'bdslaundrysystems', False, False, 'PO Box 9235', nan, 'Fargo', 'ND', '58106', '9235', '6123332885', 'sewerworks11@yahoo.com', 'https://plus.google.com/u/0/+swansonvitamins/posts']], [[41427, 96013224.0, 'Craig Carlson United Painting & Design', 'craigcarlsonunitedpaintinganddesign', True, True, '12201 Champlin Dr', nan, 'Champlin', 'MN', '55316', '1930.0', nan, 'lilamaepereze@yahoo.com', 'http://www.petpalacedoggrooming.com']], [[71654, 96099246.0, 'Reyes Enterprises', 'reyesenterprises', True, True, '1960 Cliff Lake Rd STE 119', nan, 'Eagan', 'MN', '55122', 2439.0, '6517758954', 'jessica@corehealthbemidji.com', nan]], [[66037, 96088309.0, 'IGWT Construction & Remodeling, LLC', 'igwtconstructionandremodelingllc', False, False, 'PO Box 727', nan, 'North Branch', 'MN', '55056', 727.0, '9525441035', 'info@wmlc.biz', 'http://www.ottersonmentalhealth.com']], [[8982, 8001827.0, 'Great American Insurance Co.', 'greatamericaninsuranceco', True, True, '303 10th Ave S', nan, 'Buffalo', 'MN', '55313', '2302', '2183261200', 'tturner@supportcollectors.com', 'http://www.beckerplasticsurgery.com']], [[12546, 14000611.0, 'A C A', 'aca', False, False, '709 Voyageur Rd', nan, 'Ely', 'MN', '55731', nan, '6514511551', 'townandcountryexc@gmail.com', 'http://www.stfrancisanimalandbird.com']], [[12546, 14000611.0, 'A C A', 'aca', False, False, '709 Voyageur Rd', nan, 'Ely', 'MN', '55731', nan, '6514511551', 'townandcountryexc@gmail.com', 'http://www.stfrancisanimalandbird.com']], [[50598, 96025141.0, "Lund's on the Scandinavian Riviera", 'lundsonthescandinavianriviera', False, False, '15971 Yellow Pine St NW', nan, 'Andover', 'MN', '55304', '4594.0', '9524011888', 'guitarrodeo@gmail.com', 'http://youtu.be/rjgasJl4m5Q']], [[50598, 96025141.0, "Lund's on the Scandinavian Riviera", 'lundsonthescandinavianriviera', False, False, '15971 Yellow Pine St NW', nan, 'Andover', 'MN', '55304', '4594.0', '9524011888', 'guitarrodeo@gmail.com', 'http://youtu.be/rjgasJl4m5Q']], [[50598, 96025141.0, "Lund's on the Scandinavian Riviera", 'lundsonthescandinavianriviera', False, False, '15971 Yellow Pine St NW', nan, 'Andover', 'MN', '55304', '4594.0', '9524011888', 'guitarrodeo@gmail.com', 'http://youtu.be/rjgasJl4m5Q']], [[33672, 96004418.0, 'SamplerZone.com, Inc.', 'samplerzonecominc', False, False, '9298 Central Ave NE', nan, 'Minneapolis', 'MN', '55434', '3425', '7634274970', 'mark@tcdiscountgranite.com', 'http://www.nmtg.com']], [[93829, 96144926.0, 'Navejas Roofing, Inc.', 'navejasroofinginc', True, True, '104 2nd St N', nan, 'Pine River', 'MN', '56474', 4513.0, '5073737350', nan, 'http://www.thesmallestcog.com/']], [[37721, 96009354.0, 'NetShops, Inc', 'netshopsinc', True, False, '105 New England Pl # 240', nan, 'Stillwater', 'MN', '55082', '6641.0', '6512043912', 'jwm@msn.com', 'http://www.jamesathompsonhouse.com']], [[47162, 96020280.0, 'Ridgedale State Bank', 'ridgedalestatebank', True, True, '14696 205th St', nan, 'Barrett', 'MN', '56311', '1201.0', '6514266619', 'kguns@bektel.com', 'http://www.sugarbushlodge.com']], [[32247, 96002076.0, 'Vikingland Mortgage', 'vikinglandmortgage', True, False, '11160 190th Ave NW', nan, 'Elk River', 'MN', '55330', '2873', '6127984850', 'cfehring@premiersalons.com', 'http://www.talongrills.com']], [[33666, 96004413.0, 'Curves for Women', 'curvesforwomen', False, False, '1200 S Pokegama Ave Ste 90', nan, 'Grand Rapids', 'MN', '55744', '4292', '7635714545', 'rbloss@vantagehospitality.com', 'http://www.langnelson.com']], [[26054, 43001351.0, 'Clearwater Auto Parts', 'clearwaterautoparts', False, False, '1500 E Main Ave', nan, 'Bismarck', 'ND', '58501', '4673', '9529881754', 'massagecentral.rmn@gmail.com', 'http://www.tricorneaudio.com']], [[34640, 96005815.0, 'Kirby Company', 'kirbycompany', False, False, '10100 Viking Dr.', 'Suite 200', 'Eden Prairie', 'MN', '55344', nan, '7634766200', 'information@granitecitygymnastics.com', 'http://www.ascmn.com']], [[63346, 96083099.0, 'Credit Guard of America, Inc.', 'creditguardofamericainc', True, True, '5101 Olson Memorial Hwy Ste 3000', nan, 'Golden Valley', 'MN', '55422', '5150.0', '7637539696', 'seth@squarebikes.com', nan]], [[24010, 38000304.0, 'J T Edu com Inc', 'jteducominc', False, False, '1026 Central Ave NE Ste 10', nan, 'Minneapolis', 'MN', '55413', '2503', '8007251655', 'robin114@tc.umn.edu', 'http://www.emeraldlawns.com']], [[24855, 41002044.0, 'Owl Book Store', 'owlbookstore', True, True, '10400 185th St N', nan, 'Marine On Saint Croix', 'MN', '55047', '8600', '9524879929', 'info@rswofmn.com', 'http://www.eclectrieffect.com']], [[26427, 43001860.0, 'R & R Mini-Storage', 'randrministorage', False, False, '401 11th Ave S Ste 300', nan, 'Hopkins', 'MN', '55343', '7838', '2187224567', 'albertinazanda@yahoo.com', 'http://www.newbornmed.org']], [[29443, 51000677.0, 'Bloomington R V & Mini Storage Inc', 'bloomingtonrvandministorageinc', False, False, '7455 France Ave S', nan, 'Minneapolis', 'MN', '55435', '4702', '3209804623', 'gwheeler@prosourcetech.com', nan]], [[29900, 51001412.0, 'Premium Windows & Siding Inc', 'premiumwindowsandsidinginc', True, True, '1045 Arcade St', nan, 'Saint Paul', 'MN', '55106', '3203', '8004585834', 'jeanne@elitemortgagelending.com', 'http://www.winona.edu']], [[69163, 96093834.0, 'Donovan Brothers Construction, Inc.', 'donovanbrothersconstructioninc', True, True, '3828 N Broadway', nan, 'Rochester', 'MN', '55906', nan, '7632862162', 'rnicola@nationallist.com', 'http://www.chiropracticcarewilliston.com/']], [[41654, 96013462.0, 'Living Heritage Monuments', 'livingheritagemonuments', False, False, '1384 Sylvan St', nan, 'Saint Paul', 'MN', '55117', '4679.0', nan, 'geoff@excelsiorexteriorsllc.com', 'http://www.asksolutions.net']], [[41028, 96012765.0, 'Mark & Michael Holding Company, Inc.', 'markandmichaelholdingcompanyinc', False, False, 'PO Box 22333', nan, 'Minneapolis', 'MN', '55422', nan, nan, 'sales@grandrestaurantequip.com', 'http://www.hotseal.us']], [[65400, 96087047.0, 'Right-Click IT Incorporated', 'rightclickitincorporated', True, True, '1365 Goose Lake Rd # B', nan, 'Saint Paul', 'MN', '55110', '4136.0', '6122395347', 'carver@owatonnalawyers.com', 'http://www.woofpackmn.com/']], [[77082, 96113882.0, 'Tracy Hegnas Mobile Manf Home Services', 'tracyhegnasmobilemanfhomeservices', False, True, '3303 N Service Dr', nan, 'Red Wing', 'MN', '55066', 1875.0, '9522205809', 'xtremeyards99@gmail.com', 'https://www.facebook.com/xtremesignsdl']], [[98821, 96155887.0, 'Troy Mason Rental Properties', 'troymasonrentalproperties', True, True, '123 Main St', nan, 'Wing', 'ND', '58494', nan, '8882225154', 'tcci@frontiernet.net', nan]]]

In [47]:
column_values = getColumnValues(matches, "ID2")
id2 = [record_data.columns.values.tolist()]
for value in column_values:
    list = record_data[record_data['ID'] == value]
    id2.append(list.values.tolist())

In [52]:
flattened_data = [item for sublist in id1[1:] for item in sublist]
df1=pd.DataFrame(flattened_data, columns= ['ID', 'firm_id', 'company_name', 'condensed_name', 'main', 'legal', 'address_1', 'address_2', 'city', 'state', 'zip', 'zip_4', 'phone', 'email', 'url'])
df1.drop(['condensed_name','main','legal','zip','zip_4'],inplace=True,axis=1)
df1

,ID,firm_id,company_name,address_1,address_2,city,state,phone,email,url
0,2670,2705.0,"Movers, Inc.",PO Box 335,19300 Linden Dr,Rogers,MN,NaN,joe@kissalaska.com,https://www.millsauto.com
1,66198,96088638.0,"Culligan Water, Inc.",363 5th Ave N,NaN,Bayport,MN,6513876401,viptowing2013@gmail.com,http://www.habitaware.com/
2,44591,96017061.0,AmericInn Lodge & Suites,310 N Lakeshore Dr,NaN,Lake City,MN,9528887545,deluxmotel@gmail.com,NaN
3,10113,8006385.0,BDS Laundry Systems,PO Box 9235,NaN,Fargo,ND,6123332885,sewerworks11@yahoo.com,https://plus.google.com/u/0/+swansonvitamins/p...
4,41427,96013224.0,Craig Carlson United Painting & Design,12201 Champlin Dr,NaN,Champlin,MN,NaN,lilamaepereze@yahoo.com,http://www.petpalacedoggrooming.com
5,71654,96099246.0,Reyes Enterprises,1960 Cliff Lake Rd STE 119,NaN,Eagan,MN,6517758954,jessica@corehealthbemidji.com,NaN
6,66037,96088309.0,"IGWT Construction & Remodeling, LLC",PO Box 727,NaN,North Branch,MN,9525441035,info@wmlc.biz,http://www.ottersonmentalhealth.com
7,8982,8001827.0,Great American Insurance Co.,303 10th Ave S,NaN,Buffalo,MN,2183261200,tturner@supportcollectors.com,http://www.beckerplasticsurgery.com
8,12546,14000611.0,A C A,709 Voyageur Rd,NaN,Ely,MN,6514511551,townandcountryexc@gmail.com,http://www.stfrancisanimalandbird.com
9,12546,14000611.0,A C A,709 Voyageur Rd,NaN,Ely,MN,6514511551,townandcountryexc@gmail.com,http://www.stfrancisanimalandbird.com
10,50598,96025141.0,Lund's on the Scandinavian Riviera,15971 Yellow Pine St NW,NaN,Andover,MN,9524011888,guitarrodeo@gmail.com,http://youtu.be/rjgasJl4m5Q
11,50598,96025141.0,Lund's on the Scandinavian Riviera,15971 Yellow Pine St NW,NaN,Andover,MN,9524011888,guitarrodeo@gmail.com,http://youtu.be/rjgasJl4m5Q
12,50598,96025141.0,Lund's on the Scandinavian Riviera,15971 Yellow Pine St NW,NaN,Andover,MN,9524011888,guitarrodeo@gmail.com,http://youtu.be/rjgasJl4m5Q
13,33672,96004418.0,"SamplerZone.com, Inc.",9298 Central Ave NE,NaN,Minneapolis,MN,7634274970,mark@tcdiscountgranite.com,http://www.nmtg.com
14,93829,96144926.0,"Navejas Roofing, Inc.",104 2nd St N,NaN,Pine River,MN,5073737350,NaN,http://www.thesmallestcog.com/
15,37721,96009354.0,"NetShops, Inc",105 New England Pl # 240,NaN,Stillwater,MN,6512043912,jwm@msn.com,http://www.jamesathompsonhouse.com
16,47162,96020280.0,Ridgedale State Bank,14696 205th St,NaN,Barrett,MN,6514266619,kguns@bektel.com,http://www.sugarbushlodge.com
17,32247,96002076.0,Vikingland Mortgage,11160 190th Ave NW,NaN,Elk River,MN,6127984850,cfehring@premiersalons.com,http://www.talongrills.com
18,33666,96004413.0,Curves for Women,1200 S Pokegama Ave Ste 90,NaN,Grand Rapids,MN,7635714545,rbloss@vantagehospitality.com,http://www.langnelson.com
19,26054,43001351.0,Clearwater Auto Parts,1500 E Main Ave,NaN,Bismarck,ND,9529881754,massagecentral.rmn@gmail.com,http://www.tricorneaudio.com
20,34640,96005815.0,Kirby Company,10100 Viking Dr.,Suite 200,Eden Prairie,MN,7634766200,information@granitecitygymnastics.com,http://www.ascmn.com
21,63346,96083099.0,"Credit Guard of America, Inc.",5101 Olson Memorial Hwy Ste 3000,NaN,Golden Valley,MN,7637539696,seth@squarebikes.com,NaN
22,24010,38000304.0,J T Edu com Inc,1026 Central Ave NE Ste 10,NaN,Minneapolis,MN,8007251655,robin114@tc.umn.edu,http://www.emeraldlawns.com
23,24855,41002044.0,Owl Book Store,10400 185th St N,NaN,Marine On Saint Croix,MN,9524879929,info@rswofmn.com,http://www.eclectrieffect.com
24,26427,43001860.0,R & R Mini-Storage,401 11th Ave S Ste 300,NaN,Hopkins,MN,2187224567,albertinazanda@yahoo.com,http://www.newbornmed.org
25,29443,51000677.0,Bloomington R V & Mini Storage Inc,7455 France Ave S,NaN,Minneapolis,MN,3209804623,gwheeler@prosourcetech.com,NaN
26,29900,51001412.0,Premium Windows & Siding Inc,1045 Arcade St,NaN,Saint Paul,MN,8004585834,jeanne@elitemortgagelending.com,http://www.winona.edu
27,69163,96093834.0,"Donovan Brothers Construction, Inc.",3828 N Broadway,NaN,Rochester,MN,7632862162,rnicola@nationallist.com,http://www.chiropracticcarewilliston.com/
28,41654,96013462.0,Living Heritage Monuments,1384 Sylvan St,NaN,Saint Paul,MN,NaN,geoff@excelsiorexteriorsllc.com,http://www.asksolutions.net
29,41028,96012765.0,"Mark & Michael Holding Company, Inc.",PO Box 22333,NaN,Minneapolis,MN,NaN,sales@grandrestaurantequip.com,http://www.hotseal.us
30,65400,96087047.0,Right-Click IT Incorporated,1365 Goose Lake Rd # B,NaN,Saint Paul,MN,6122395347,carver@owatonnalawyers.com,http://www.woofpackmn.com/
31,77082,96113882.0,Tracy Hegnas Mobile Manf Home Services,3303 N Service Dr,NaN,Red Wing,MN,9522205809,xtremeyards99@gmail.com,https://www.facebook.com/xtremesignsdl
32,98821,96155887.0,Troy Mason Rental Properties,123 Main St,NaN,Wing,ND,8882225154,tcci@frontiernet.net,NaN

In [49]:
flattened_data2 = [item for sublist in id2[1:] for item in sublist]
df2=pd.DataFrame(flattened_data2, columns= ['ID', 'firm_id', 'company_name', 'condensed_name', 'main', 'legal', 'address_1', 'address_2', 'city', 'state', 'zip', 'zip_4', 'phone', 'email', 'url'])
df2

,ID,firm_id,company_name,condensed_name,main,legal,address_1,address_2,city,state,zip,zip_4,phone,email,url
0,2669,2687.0,Menards Cashway Lumber,menardscashwaylumber,False,False,500 Cardigan Rd,NaN,Saint Paul,MN,55126,3996,9528301133,info@counselwealthmanagement.com,http://www.tcwreckersales.com
1,21115,24001270.0,"House of Wood, Inc",houseofwoodinc,True,True,PO Box 877,NaN,Watertown,MN,55388,0877,6516462700,crogers@cadan.com,http://clarksseamlessgutter.som
2,43405,96015429.0,Endless Masonry,endlessmasonry,False,False,1606 Snowflake Dr,NaN,Eagan,MN,55121,1765.0,7634249951,smile@heartofthecitydental.com,http://www.appleacademychildcare.com
3,9404,8002859.0,Master Construction Co Inc,masterconstructioncoinc,True,True,342 42nd St S,NaN,Fargo,ND,58103,1132,7634202140,a1towing@yahoo.com,http://www.kohnenshvac.rheemdealer.net
4,6804,4000137.0,DDD Motel Corporation,dddmotelcorporation,False,True,1681 University Ave W,NaN,Saint Paul,MN,55104,3726,6126421234,suem@animalwellnessmg.com,http://www.wise-furnitureco.com
5,41427,96013224.0,Craig Carlson United Painting & Design,craigcarlsonunitedpaintinganddesign,True,True,12201 Champlin Dr,NaN,Champlin,MN,55316,1930.0,NaN,lilamaepereze@yahoo.com,http://www.petpalacedoggrooming.com
6,36212,96007539.0,Richard Vikander Remodeling,richardvikanderremodeling,True,False,NaN,NaN,NaN,NaN,NaN,NaN,9522240732,portraits@portraitsfromtheheart.net,http://www.powerliftmn.com
7,8981,8001826.0,Graybar Electric Company Inc,graybarelectriccompanyinc,True,True,2500 Park Ave,NaN,Minneapolis,MN,55404,4403,9523804930,info@summitcollects.com,http://www.basinelectric.com
8,8981,8001826.0,Graybar Electric Company Inc,graybarelectriccompanyinc,True,True,2500 Park Ave,NaN,Minneapolis,MN,55404,4403,9523804930,info@summitcollects.com,http://www.basinelectric.com
9,8982,8001827.0,Great American Insurance Co.,greatamericaninsuranceco,True,True,303 10th Ave S,NaN,Buffalo,MN,55313,2302,2183261200,tturner@supportcollectors.com,http://www.beckerplasticsurgery.com
10,8981,8001826.0,Graybar Electric Company Inc,graybarelectriccompanyinc,True,True,2500 Park Ave,NaN,Minneapolis,MN,55404,4403,9523804930,info@summitcollects.com,http://www.basinelectric.com
11,8982,8001827.0,Great American Insurance Co.,greatamericaninsuranceco,True,True,303 10th Ave S,NaN,Buffalo,MN,55313,2302,2183261200,tturner@supportcollectors.com,http://www.beckerplasticsurgery.com
12,12546,14000611.0,A C A,aca,False,False,709 Voyageur Rd,NaN,Ely,MN,55731,NaN,6514511551,townandcountryexc@gmail.com,http://www.stfrancisanimalandbird.com
13,15054,17005356.0,Chipheads Computer Repair Shop,chipheadscomputerrepairshop,True,True,PO Box 16054,NaN,Saint Paul,MN,55116,0054,2187222686,service@temoroofingsiding.com,http://www.andeng.net
14,60821,NaN,NaN,NaN,NaN,NaN,11332 86th Ave N,NaN,Osseo,MN,55369,4528.0,5072884896,roughriderhdminot@roughriderhdminot.com,http://shaughnessyflooring.com/
15,13018,14002086.0,Cinnamon Ridge Apartments,cinnamonridgeapartments,True,True,2015 Woodlynn Ave # B,NaN,Saint Paul,MN,55109,1417,6123364613,NaN,NaN
16,36329,96007695.0,DarCee Desktop Publishing,darceedesktoppublishing,True,True,9561 Dunes Ct,NaN,Cottage Grove,MN,55016,4618,7634412121,mark.anderson@blackridgefinancial.com,http://www.colorglominnesota.com
17,9797,8005481.0,Custom Rx LLC,customrxllc,True,True,PO Box 159,NaN,Elgin,ND,58533,0159,8009169337,info@apnadvantage.com,http://www.ninewest.com
18,31788,NaN,NaN,NaN,NaN,NaN,PO Box 209,NaN,West Concord,MN,55985,NaN,6514646800,beckyerickson@plasticproductsco.com,http://www.impalaheadlight.com
19,18185,22002585.0,Babies R Us-Baby Superstore,babiesrusbabysuperstore,False,False,1290 50th St E,NaN,Inver Grove Heights,MN,55077,1285,6513537018,NaN,NaN
20,18952,23000215.0,D.L. Kirby Company,dlkirbycompany,False,False,2740 Forest Dale Rd,NaN,Saint Paul,MN,55112,2518,6128251611,carefree@carefreehomeservices.com,http://www.americanpridehomeservices.com
21,35255,96006486.0,"Statewide Home Mortgage, Inc.",statewidehomemortgageinc,True,False,1101 E Superior St,NaN,Duluth,MN,55802,3143,7634789830,NaN,http://www.muellermultimedia.com
22,24009,38000303.0,Bright Ideas of Rochester Inc,brightideasofrochesterinc,False,False,NaN,NaN,NaN,NaN,NaN,NaN,7018828191,cindyka@midco.net,http://www.trevisimpressions.com
23,24854,41002036.0,Otis Elevator Co,otiselevatorco,True,True,246 Kingsway Dr,NaN,Mankato,MN,56003,1221,9527071212,rswconstruction@comcast.net,http://www.cpvalet.com
24,26426,43001858.0,Roof Depot,roofdepot,True,True,3600 Holly Ln N # 100,NaN,Minneapolis,MN,55447,1286,6122966000,info@abode-construction.com,http://www.crashtoys.com
25,29442,51000676.0,Mastercraft Electronics Inc,mastercraftelectronicsinc,True,True,2021 Oakmont Ter,NaN,Pompano Beach,FL,33071,7720,3202406598,gwheeler@pressuretech.com,NaN
26,29899,51001399.0,Straight Line Auto Body,straightlineautobody,True,True,NaN,NaN,NaN,NaN,NaN,NaN,6512750123,lisa@brainbold.com,http://www.mnsu.edu
27,65242,96086738.0,Kalifornia Pool & Spas,kaliforniapoolandspas,True,True,PO Box 5055,512 Laurel St,Brainerd,MN,56401,5055.0,3206924180,vernh527@gmail.com,NaN
28,38393,96010156.0,Boldt Creative / Rubba Ducks,boldtcreativerubbaducks,True,True,4352 Elliot Ave. S,NaN,Minneapolis,MN,55407,NaN,6514078432,jorth2003@yahoo.com,http://www.jurrensfuneralhome.com
29,41026,96012764.0,North State Home Solutions,northstatehomesolutions,False,False,5293 W Arrowhead Rd,NaN,Duluth,MN,55811,1342.0,NaN,mfi9000@embarqmail.com,http://www.heightswelding.com/
30,65399,96087046.0,Curtis Electric,curtiselectric,True,True,1919 Main Ave,NaN,International Falls,MN,56649,3331.0,6122826260,einhaus@owatonnalawyers.com,http://www.pandora.net/en-us/stores/ridgedale-...
31,77081,96113881.0,Minnesota Lung Center/Minnesota Sleep Institute,minnesotalungcenterminnesotasleepinstitute,True,True,1311 W 6th St,NaN,Red Wing,MN,55066,2146.0,6514556052,rob@northcoastcommunications.com,http://www.xtremesignsdl.com/
32,98820,96155883.0,ALL-IN Decorative Curbing & Conrete Inc,allindecorativecurbingandconreteinc,False,False,PO Box 93,NaN,Wing,ND,58494,93.0,5075533161,kevin@mindwerk.com,NaN